body {
    color: #999;
}

.row{
    max-width: 100%;
}

/*****Nav Bar Stuff*****/
#nav{
    background-color: transparent;
}

[data-magellan-expedition], [data-magellan-expedition-clone] {
background: rgba(20,20,20,0.5);
z-index: 50;
min-width: 0%;
width: 100%;
padding: 0px;
margin: 0px;
}

.sub-nav{
    margin: 0px;
    padding: 0px;
    width: auto;
    height: auto;
    margin-right: 0px;
    background-color: transparent;
    display: table;
    margin: 0 auto;
}

.sub-nav dt, .sub-nav dd, .sub-nav li {
    margin: 0rem;
    font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
    font-weight: normal;
    font-size: 0.875rem;
    color: #fff;
    background-color: transparent;
    height: 50px;
    width: auto;
    padding-top: 10px;
}

.sub-nav li a {
    color: #fff;
} 

.sub-nav dt.active a, .sub-nav dd.active a, .sub-nav li.active a{
    font-weight: normal;
    background-color: transparent;
    cursor: default;
    color: #fff;
    margin: 0rem;
    height: auto;
}

.sub-nav li.active a:hover{
    background: transparent;
    color: 737373;
}


/*****About Me******/
#about-div {
    background-image: url('../images/breck.jpg');
    background-size: cover;
    min-height: 100%;
    min-width:100%;
}

#about-div p{
    margin-left: 3rem;
    color: #555;
}

/*****My Work******/
#work-div{
    background-color: #999;
    margin-top: 0rem;
    margin-bottom: 50rem;
}

